.slides_container {
  width:$grid-pagewidth;
  height:345px;
  overflow:hidden;

  .slides_container div {
    width:$grid-pagewidth;
    height:345px;
    display:block;
  }
}
//
.slides{
  width:$grid-pagewidth;
  @extend .bg-gray;

  .first{
    width:520px;
    float:left;
  }
    .field-type-image{
      width:480px;
      height:360px;
      margin:0;
     padding:0;
    }

  .second{
    width:420px;
    float:left;
    height:290px;
    overflow:hidden;
  }

  h2{
    padding:35px 0 1px 0;
    line-height:24px;
    text-align:left;
  }
  a{
    color:$red;
  }
  .field-type-text-long{
    font-size:12px;
    line-height:18px;
    padding-top:28px;
  }

}


//controls
.slides{
  h3{
    a{
      color:#fff;
    }
  }

  .pagination {
    position:absolute;
    z-index:101;
    bottom:38px;
    left:700px;
    width:200px;
    li {
      float:left;
      margin:0 2px;
      list-style:none;
    }
    li a {
      display:block;
      width:12px;
      @include border-radius(12px, 12px);
      padding-top:12px;
      height:0;
      overflow:hidden;
      background-color:gray;
      opacity:0.8;
    }
    li.current a {
      background-color:$red3;
    }
  }

}



/*
.slides .next, .slides .prev {
  position:absolute;
  top:107px;
  left:0px;
  width:24px;
  height:43px;
  display:block;
  z-index:101;
}

.slides .next {
  left:585px;
}
*/

.slides_container li{


}


