/* $Id$ */ 
/* *
 * @file
 * node.css
 */


/* NODE
------------------------------------- */
.node{clear:both;}
.node .meta{}
.node .user{}
.node .date{}
.node .nodelinks{}

/*.node .terms ul.links*/
/*.node .terms ul.inline*/
.node .terms ul li{}
  .node .terms li.first{}
  .node .terms li.last{}

/*main node*/
.node .content{}
  .node .content p img{float:left; padding:8px; margin:5px 10px 0 0; background:#fff; border: 1px solid #ccc; border-bottom-color: #bbb; border-right-color: #bbb;}
  .node .content p a {text-decoration: underline;}
  /*CCK*/
  /*.node .content .field-[FIELD-NAME]{}*/
  .node .content .field-type-filefield{}
  .node .content .field-images{}

  
.node-unpublished {}
.preview .node {}

/*fieelds*/
.field-type-text-with-summary{}
