/* *
 * @file
 * page.css
 */

/*
css for us with the page.tpl 
look at layout.css for the grid systems
*/

/* PAGE
------------------------------------- */
html{background: #2d93de url(../images/bg.png) repeat center center}
body{background: transparent url(../images/bg-top.png) repeat-x}
#container{}
 #container-inner{}

/* @group page */
#header{}
 #header-inner{}
/* 
 #site-name {text-indent: -9999em;}
  #site-name a{background:transparent url(../images/logo.png) no-repeat 0 0; height:130px; width:178px; display: block;}
*/
  #page {}
    #page-inner{}
    #pageheader{}
      #pageheader-inner{}
      h1.title-page {}
    #pagebody{} 
      #pagebody-inner{}
    #pagefooter{background:#ddd;}
      #pagefooter-inner{}
    #footer{}
     #footer-inner{}
/* @end */

.region{}
/* @group elements */

.breadcrumb {margin:0;}
ul.breadcrumb li{display:inline; margin:0 0 0 10px;}
/* @end */

 @group footer trick 
html, body, #container-inner {padding:0; height: 100%;}
body > #container-inner {height: auto; min-height: 100%;}
#footer {position: relative;
  margin-top: -299px; 
  height: 299px;
  clear:both;
} 

#container-inner{padding:0 0 299px 0; background:transparent url(../images/bg-top.png) repeat-x center bottom;} 

