/* $Id$ */ 
/* *
 * @file
 * table.css
 */

/*
tables
* ------------------------------------- */
table, #tracker table{width:99%}
tr.odd {background-color:#efefef; border-bottom:1px solid #ddd; padding:0;}
tr.even {background-color:transparent; border-bottom:1px solid #eee; padding:0;}
tbody {border-top: 0px solid #ddd;}
tbody th {border-bottom: 0px solid #ddd;}
thead th {border-bottom: 0px solid #ddd;  padding: 0;}
td{padding:5px;}
td.active{background:#DFEEEE;}

th.active img { display: inline;}
tr.even, tr.odd {background-color: #eee; border-bottom: 1px solid #ccc; padding: 0.1em 0.6em;}
tr.drag {background-color: #fffff0;}
tr.drag-previous {background-color: #ffd;}
td.active {background-color: #ddd;}
td.checkbox, th.checkbox { text-align: center;}
tbody { border-top: 1px solid #ccc;}
tbody th { border-bottom: 1px solid #ccc;}
thead th { text-align: left; /* LTR */ padding-right: 1em; /* LTR */ border-bottom: 3px solid #ccc;}

tr.selected td { background: #ffc;}
table.sticky-header { margin-top: 0; background: #fff;}

tr.odd .form-item, tr.even .form-item { margin-top: 0; margin-bottom: 0; white-space: nowrap;}
tr.merge-down, tr.merge-down td, tr.merge-down th { border-bottom-width: 0 !important;}
tr.merge-up, tr.merge-up td, tr.merge-up th {border-top-width: 0 !important;}

tr.ok { background: #dfd; color: #020; padding: 2px;}
tr.error {}
tr.warning { }
tr.ok {}