/* $Id$ */ 

/* *
 * @file
 * views.css
 */

.block .block-views{}

.view{}
  .view-header{}
  .view-content{}
    /*.views-row-X{}*/
    .view-content .views-row{}
    .view-content .first{}
    .view-content .last{}
    .view-content .even{}
    .view-content .odd{}  

  .attachment-before{}
  .attachment-after{}
  .view-footer{}

.view .feed-icon{}


table.views-view-grid{}
  table.views-view-grid .row-first{}
  table.views-view-grid .row-last{}
    /*table.views-view-grid td.col-X{}*/
    
.view-opbygning{}
  .view-opbygning .item-list ul li{border-top: 1px solid #eee;}    
  .view-opbygning .item-list ul li .group-left{width:340px; margin:0 0 0 20px;padding:0 9px 0 0;}
  .view-opbygning .item-list ul li .group-left h2{font-size:14px; line-height:20px; padding:0;}
  .view-opbygning .item-list ul li .group-left a{color:#000;}
  .view-opbygning .item-list ul li .group-right{width:160px; height:300px; padding: 20px 20px; background:#000; color:#fff;}
  
.view-medarbejdere{}
  .view-medarbejdere .item-list ul li{border-top: 1px solid #eee;}    
  .view-medarbejdere .item-list ul li .group-first{width:90px; padding:0 10px;}
  .view-medarbejdere .item-list ul li .group-second{width:150px;}
  .view-medarbejdere .item-list ul li .group-third{width:160px; padding:0 20px;}
  .view-medarbejdere .item-list ul li .group-fourth{width:100px;}

/*iconer*/
  .view-medarbejdere .field-name-field-twitter {text-indent: -9999em;}
    .view-medarbejdere .field-name-field-twitter a{background:transparent url(../images/icon-twitter.png) no-repeat 0 0; height:30px; width:30px; display: block; float:left;}
  .view-medarbejdere .field-name-field-facebook {text-indent: -9999em;}
    .view-medarbejdere .field-name-field-facebook a{background:transparent url(../images/icon-twitter.png) no-repeat 0 0; height:30px; width:30px; display: block; float:left}
  .view-medarbejdere .field-name-field-flickr {text-indent: -9999em;}
    .view-medarbejdere .field-name-field-flickr a{background:transparent url(../images/icon-twitter.png) no-repeat 0 0; height:30px; width:30px; display: block; float:left}
  .view-medarbejdere .field-name-field-linkedin {text-indent: -9999em;}
    .view-medarbejdere .field-name-field-linkedin a{background:transparent url(../images/icon-twitter.png) no-repeat 0 0; height:30px; width:30px; display: block; float:left}
  .view-medarbejdere .field-name-field-youtube {text-indent: -9999em;}
    .view-medarbejdere .field-name-field-youtube a{background:transparent url(../images/icon-twitter.png) no-repeat 0 0; height:30px; width:30px; display: block; float:left}

/**/
.view-kompetencer{}
  .view-kompetencer .item-list ul li{border-top: 1px solid #eee;}    
  .view-kompetencer .item-list ul li .group-left{width:340px; margin:0 0 0 20px;padding:0 9px 0 0;}
  .view-kompetencer .item-list ul li .group-left h2{font-size:14px; line-height:20px; padding:0;}
  .view-kompetencer .item-list ul li .group-left a{color:#000;}
  .view-kompetencer .item-list ul li .group-right{width:160px;  padding: 20px 20px;}
  

.view-kundeliste  {}
  .view-kundeliste  .item-list ul li{border-top: 1px solid #eee;}    
  .view-kundeliste  .item-list ul li .group-left{width:340px; margin:0 0 0 20px;padding:0 9px 0 0;}
  .view-kundeliste  .item-list ul li .group-left h2{font-size:14px; line-height:20px; padding:0;}
  .view-kundeliste  .item-list ul li .group-left a{color:#000;}
  .view-kundeliste  .item-list ul li .group-right{width:160px; padding: 20px 20px;}
