article{

	footer{
		font-size: $basefont * 0.8; 
		line-height: $baseline;
		color: #666;

    .author{
    
    }
    .date{
    
    }
    .changed{
    
    }

	}

  ol, ul{
  	padding-left:30px;
  }

  ul li{
  	list-style: none outside;
  	border-bottom: 1px solid #ddd;
  	margin:$basefont / 2 0;
  }
	
  ol li{
  	list-style: decimal;
  	margin:$basefont / 2 0;
  }


}








.links{
	list-style: none outside;
  padding:0;
  li{
    display:inline-block;
  }
}

.field-name-body p {  
	padding-bottom:15px;
}
.item-list li{

}
