//includes
@import "compass/css3";
@import "compass/layout/grid-background";
@import "compass/typography";
@import "compass/typography/links/link-colors";

@import "mixin";

//GirlFriend settings?
$grid-count     : 12;
$column-width   : 80px;
$gutter-width   : 20px;
$direction      : left; //left or right

//------------------------------------------------
//typography
//------------------------------------------------
$basefont 	: 18px;
$baseline 	: 24px;
$fontsmall	: 11px;

// define fonts
$sans-serif		:	"Helvetica Neue", Helvetica, Arial, sans-serif;
$serif			  :	Georgia, "Times New Roman", Times, serif;
$monospace		:	"Monaco", "Courier New", monospace;

//basefont
$font-base      : $sans-serif;
$font-header    : $serif;
$font-blocks		: $sans-serif;
$font-monospace : $monospace;

//------------------------------------------------
//colors
//------------------------------------------------
$grid-background-baseline-color : #ddd;

//------------------------------------------------
//Forms
//------------------------------------------------
$form-color-label 				: #ddd;
$form-color-label-hover 	: #ccc;

$form-collapsible-height	:	30px;
$form-collapsible-fontsize: $basefont * 1.2;
$form-collapsible-link 		: #ccc;
$form-collapsible-bg-open	: #eee;
$form-collapsible-bg-close:	#eee;


