@import "_base";

header {background: #fff; }

@media screen and (min-width: 480px){
  header {background: #F9C; }
}
@media screen and (min-width: 600px){
  header {background: $blueDark;}
}
@media screen and (min-width: 768px){
  header {background: $red;}
}
@media screen and (min-width: 992px){
  header {background: $green;}
}

@media print {

}


@import "layout";
@import "elements";
@import "typography";
@import "tables";
@import "forms";
@import "effects";
@import "icons";