/*
Default styles
* ------------------------------------- */
a {outline: none;}
a img {border:none;}
a, a:link, a:visited, a:active {text-decoration: none;}
a:hover, a:focus {text-decoration: underline;}
:focus{outline:0}

b,strong{font-weight: bold;}
em, i{font-style: italic;}

.active{font-weight:bold;}

/*
List
* ------------------------------------- */
ul,
li, 
ul li, 
.item-list ul
.item-list ul li, 
ul.menu,
ul.menu li{
  list-style: none; margin:0; padding:0;
}

li.leaf,
li.expanded,
li.collapsed{
  list-style: none outside none;
}
/*
pager
*/
.pager li{float:left;}

/*
List
* ------------------------------------- */
ul.tabs li{display:inline; padding:0 10px}
ul.primary{border-bottom:1px solid #fff; padding:3px 0; margin:4px 0 ;}
ul.primary li{}
ul.secondary li{border-left: 1px solid #fff; }

/*add default list for body content */
.field-name-body ol, .field-name-body ul {margin: 0 0 0 10px;}
.field-name-body ul li {list-style: square inside}
ul.links li{padding:0 5px 0 0;}

/*breadcrumb*/
.breadcrumb {margin:0;}
  ul.breadcrumb li{display:inline; margin:0 0 0 10px;}

/* 
  forms
* ------------------------------------- */
.form-item {margin:0;}


/* 
  admin styles for blocks
* ------------------------------------- */
.page-admin-structure-block-demo .block-region {
  background: #ffff66;
  border: 1px dotted #9f9e00;
  color: #000;
  font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 0px;
  padding: 5px;
  text-align: center;
  text-shadow: none;
}

/*
contextual links
changing em a big to a more neutral state
+ adding some defaults so the theme dosnt end up overwriting
* ------------------------------------- */
.contextual-links-active a.contextual-links-trigger {
  background: url("images/gear-select.png") no-repeat scroll 2px 0 transparent!important;
  background-color: #eee!important;
  background-color: rgba(255, 255, 255, 0.8)!important;  
  -moz-border-radius: 2px 2px 0 0!important;
  -webkit-border-bottom-left-radius: 0!important;
  -webkit-border-bottom-right-radius: 0!important;
  border-radius: 2px 2px 0 0!important;
}

.contextual-links-wrapper ul.contextual-links {
  background-color: #eee;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  display: none;
  margin: 0;
  padding: 0.25em 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 18px;
  white-space: nowrap;
  -moz-border-radius: 2px 0 2px 2px; /* LTR */
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-top-right-radius: 0; /* LTR */
  -webkit-border-top-left-radius: 2px; /* LTR */
  border-radius: 2px 0 2px 2px; /* LTR */
     -moz-box-shadow: 1px 2px 4px #333; 
  -webkit-box-shadow: 1px 2px 4px #333; 
          box-shadow: 1px 2px 4px #333;  
}

  div.contextual-links-wrapper ul.contextual-links li {
    list-style: none;
    list-style-image: none;
    font-weight: normal;
    margin: 0!important;
    padding: 0!important;
    clear:both;
    border:none;
    background:transparent;
    height:auto!important;
    float:none;
  }

  ul.contextual-links li a{
    font-family: "Courier New", Courier, monospace!important;
    font-size:11px!important;
    line-height: 12px!important;
    font-weight: normal!important;  
  }
  
  ul.contextual-links li a:hover {
    background-color: rgba(150, 150, 150, 0.8);  
    background-color: #aaa;
  }


/*
block & contextual fix 
yup its a recap of the clearfix trick, but we dont wanna go an do class="clearfix" all over again 
----------------------------*/
.block .content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* IE7 */
*:first-child + html .block {
  min-height: 1%;
}

/*
  FORMS
----------------------------*/
input[type="search"] {
  -webkit-appearance: textfield;
}

/*
FIELDSETS & LEGEND
----------------------------*/
fieldset, 
html.js fieldset.collapsible .fieldset-legend{

}

fieldset, 
html.js fieldset.collapsible .fieldset-legend, 
span.fieldset-legend{
  min-width:500px; 
}

html.js fieldset.collapsible .fieldset-legend, 
a:link.fieldset-title, .fieldset-legend{
  display:block; height:25px; font-weight:bold; padding-bottom:0;
}





/*
MODULES
----------------------------*/

/* development indicator*/
body.development #toolbar div.toolbar-menu{background:#5A4525;}

/*
admin toolbar fix if its used with the toolbar
----------------------------*/
body.toolbar div#admin-toolbar.vertical {top:30px;}
body.toolbar-drawer div#admin-toolbar.vertical {top:66px;}


body.context-editing div.draggable:hover a.context-block-remove,
body.context-editing div.draggable:hover a.context-block-handle {
  left:0px;
  top:-5px;
  z-index:100;
}

body.context-editing div.draggable:hover a.context-block-remove {
  background-position:-40px 0px;
  cursor:pointer;
  left:40px;
}


body.admin-vertical div#admin-toolbar.vertical {top:20px;}

